checkpoints/
stocknet-dataset/
grpo/model/
zsv_all_stats/
zsv_stats/
evaluation_results/
results/
norm_original_data/
normalized_data_sl10/
csv_small_norm_stats/
time-llm-stocks/
chatbots/



__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/
env/

*.pth
models--gpt2/

*.joblib
.joblib
*.pkl
*.pt
*.safetensors
*.pth
*.pt
*.joblib
*.csv
*.json
*.jsonl


*.safetensors
grpo/llama.cpp/

csv_all_stats/
wandb/
grpo/data/all_data/*.csv
grpo/results/
grpo/models/

unsloth_compiled_cache/

# demo CSVs
!backbone/data/stocknet/*.csv
!backbone/data/grpo_input/stocknet/Qwen2.5-7B-Instruct/*.csv
.DS_Store
